header{
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

header img{
  width: 100px;
}

header span{
  color: gray;
  font-size: 30px;
}

.circle{
  height: 40px;
  width: 40px;
  background-color: #f4511e;
  border-radius: 50%;
  color: white;
}

ul{
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  margin-bottom: 0 !important;
}

li{
  margin-right: 40px;
}

header ul li{
  padding-bottom: 5px;
}

.active{
  color: #4271ff;
  border-bottom: 3px solid #4271ff;
}

main{
  padding-top: 100px;
}

.textblue{
  color: #4271ff;
}

h3{
  padding-top:50px;
}

ol{
  padding-left: 16px;
}

ol li{
  margin-bottom: 20px;
  margin-top: 20px;
}

footer{
  background-color: lightgrey;
}

footer ul li{
  color: gray;
  font-size: 12px;
}