header{
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

ul{
  list-style: none;
  padding-inline-start: 0px;
}

li{
  margin-right: 40px;
}

main{
  padding-top: 100px;
}

.textblue{
  color: #4271ff;
}

h3{
  padding-top:50px;
}

ol{
  padding-left: 16px;
}

ol li{
  margin-bottom: 20px;
  margin-top: 20px;
}